@{
    ViewData["Title"] = "O-MAF";
}

<div class="text-center">
    <h1 class="display-4">Welcome to O-MAF</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">PLease read disclaimer and click accept to continue.</a>.</p>
</div>
