@model O_MAF.Models.LoginResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=width=device-width, initial-scale=0.5" />
    <title>Login</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
        img {
            width: 30%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h1>O-MAF Login</h1></div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="LoginForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group" width="30%">
                    <label asp-for="Username">Your username:</label>
                    <input class="form-control" asp-for="Username" />
                </div>
                <div class="form-group" width="30%">
                    <label asp-for="Pin">Your pin:</label>
                    <input class="form-control" asp-for="Pin" />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>


</body>
</html>
