@model O_MAF.Models.LoginResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Whose Login</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <p>
        <h1>Thank you, @Model.Username!</h1>

    </p>
    <p>Click <a class="nav-link" asp-action="LoginResponses">here</a> to see who is logged in.</p>
    <br /><br />
    <div>
        <a class="btn btn-primary" asp-action="InitiateForm">Initiate MAF</a>
    </div>
    <div><br /></div>
    <div>
        <a class="btn btn-primary" asp-action="Workload">See Your Workload</a>
    </div>
</body>
</html>