@{
    ViewData["Title"] = "InWork";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
        img {
            width: 50%;
            height: auto;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <b>@ViewBag.Greeting</b><br />
        <h1 class="display-4">Welcome to O-MAF [InWork]</h1>
        <p>Sample Page | Under Construction!...</p>
        <img src="https://github.com/gowebUSA/MSSA-Project/blob/master/TSQL/Project-Step-7/prototype/images/2-InWork-page.png?raw=true" />
        <div><br /><br /><br /></div>
</body>
</html>