@model OMAF.Models.Aircraft

@{
    ViewData["Title"] = "Create";
}

<h1>Initiate</h1>

<h4>Discrepancy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Buno" class="control-label"></label> (6 digits only)
                <input asp-for="Buno" class="form-control" />
                <span asp-validation-for="Buno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SysReason" class="control-label"></label>
                <input asp-for="SysReason" class="form-control" />
                <span asp-validation-for="SysReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobStat" class="control-label"></label> (M3, IW, WP, CT, JC, MC, CY)
                <input asp-for="JobStat" class="form-control" />
                <span asp-validation-for="JobStat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitiateDate" class="control-label"></label> (Use calendar, then hh:mm AM/PM for time)
                <input asp-for="InitiateDate" class="form-control" />
                <span asp-validation-for="InitiateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UDP" class="control-label"></label> (U=1, D=2, P=3, use numbers only)
                <input asp-for="UDP" class="form-control" />
                <span asp-validation-for="UDP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiator" class="control-label"></label> (Username)
                <input asp-for="Initiator" class="form-control" />
                <span asp-validation-for="Initiator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discrepancy" class="control-label"></label> (Plain Text Only)
                <input asp-for="Discrepancy" class="form-control" />
                <span asp-validation-for="Discrepancy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Initiate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Workload</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
