@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
        img {
            width: 100%;

            height: auto;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <b>@ViewBag.Greeting</b><br />
        <img src="https://github.com/gowebUSA/MSSA-Project/raw/master/TSQL/Project-Step-7/O-MAF-concept.png" />
        <h1 class="display-4">Welcome to O-MAF</h1>
        <p>Please read disclaimer and click accept to continue.</p>
    </div>
    <div><h3>US Department of Defense Warning Statement</h3>
         <p>
             You are accessing a U.S Government(USG) Information System(IS) that is provided for USG-authorized use only. By using this IS (which includes any device attached to this IS), you consent to the following conditions:
             <ul>
                 <li>
                     The USG routinely intercepts and monitors communications on this IS for 
                     purposes including, but not limited to, penetration testing, COMSEC monitoring, 
                     network operations and defense, personnel misconduct(PM), law enforcement(LE), 
                     and counterintelligence(CI) investigations.
                 </li>
                 <li>
                     At any time, the USG may inspect and seize data stored on this IS.
                 </li>
                 <li>
                     Communications using, or data stored on, this IS are not private, are subject to routine
                     monitoring, interception, and search, and may be disclosed or used for any USG-authorized purpose.
                 </li>
                 <li>
                     This IS includes security measures(e.g., authorization and access controls) to protect USG
                     interests--not for your personal benefit or privacy.
                 </li>
                 <li>
                     Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI
                     investigative searching or monitoring of the content of privileged communications, or work
                     product, related to personal representation or services by attorneys, psychotherapists, or clergy,
                     and their assistants. Such communications and work product are private and confidential.
                 </li>
             </ul>  
             Ref: mol.usmc.mil
         </p>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Aircraft" asp-action="Index">I Accept</a>
    </div>
    <div><br /><br /><br /></div>
</body>
</html>