@{
    ViewData["Title"] = "Landing Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
        img {
            width: 50%;
            height: auto;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <b>@ViewBag.Greeting</b><br />
        <h1 class="display-4">[Under Construction!...]</h1>
        <img src="https://images.pexels.com/photos/211122/pexels-photo-211122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=325&w=470" height="325" width="470"/>
        <p>Image credit by www.pexels.com/ferarcosn</p>
        <div><br /><br /><br /></div>
</body>
</html>