@{
    ViewData["Title"] = "Print MAF";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
        img {
            width: 50%;
            height: auto;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th>O-MAF</th>
            <th>ENTRIES REQUIRED SIGNATURE</th>
        </tr>
        <tr>
            WORK CENTER REGISTER, CONTROL AND PROCESSING COPY
        </tr>

    </table>
</body>
</html>